pflichtenheft.pdf
pflichtenheft.fls
pflichtenheft.toc
pflichtenheft.out
pflichtenheft.log
pflichtenheft.aux
pflichtenheft.fdb_latexmk
pflichtenheft.synctex.gz
pflichtenheft.glg
pflichtenheft.glo
pflichtenheft.gls
pflichtenheft.glsdefs
pflichtenheft.ist
entwurfsheft.pdf
entwurfsheft.fls
entwurfsheft.toc
entwurfsheft.out
entwurfsheft.log
entwurfsheft.aux
entwurfsheft.fdb_latexmk
entwurfsheft.synctex.gz
entwurfsheft.glg
entwurfsheft.glo
entwurfsheft.gls
entwurfsheft.glsdefs
entwurfsheft.ist
glossary.aux
entwurfsheft.synctex(busy)
entwurfsheft/entwurfsheft.tex
*.code-workspace
/.idea/
