pflichtenheft.pdf
pflichtenheft.fls
pflichtenheft.toc
pflichtenheft.out
pflichtenheft.log
pflichtenheft.aux
pflichtenheft.fdb_latexmk
pflichtenheft.synctex.gz
pflichtenheft.glg
pflichtenheft.glo
pflichtenheft.gls
pflichtenheft.glsdefs
pflichtenheft.ist
entwurfsheft.pdf
entwurfsheft.fls
entwurfsheft.toc
entwurfsheft.out
entwurfsheft.log
entwurfsheft.aux
entwurfsheft.fdb_latexmk
entwurfsheft.synctex.gz
entwurfsheft.glg
entwurfsheft.glo
entwurfsheft.gls
entwurfsheft.glsdefs
entwurfsheft.ist
implementierungsheft.aux
implementierungsheft.pdf
implementierungsheft.fls
implementierungsheft.toc
implementierungsheft.out
implementierungsheft.log
implementierungsheft.aux
implementierungsheft.fdb_latexmk
implementierungsheft.synctex.gz
implementierungsheft.glg
implementierungsheft.glo
implementierungsheft.gls
implementierungsheft.glsdefs
implementierungsheft.pdf
glossary.aux
entwurfsheft.synctex(busy)
entwurfsheft/entwurfsheft.tex
*.code-workspace
/.idea/
node_modules
firebase_credentials.json
*.env
*.code-workspace
package-lock.json
*.sql
server/build
```