<!DOCTYPE html>
<html>
<body>
  <h2 style="background-color:DodgerBlue;">Rezeptmeldung bei SpiceSquad</h2>
  <p>Hallo {{adminUsername}},</p>
  <p>ee </p>
  <p>Es wurde ein Rezept gemeldet:</p>
  <p> </p>
  <p><strong>Rezepttitel:</strong> {{recipeTitle}}</p>
  <p><strong>Benutzername:</strong> {{reportedUsername}}</p>
  <p><strong>Zugehörige Gruppe:</strong> {{groupName}}</p>
  <p> </p>
  <p>Bitte überprüfen Sie die Meldung und ergreifen Sie gegebenenfalls entsprechende Maßnahmen.</p>
  <p> </p>
  <p>Vielen Dank und freundliche Grüße</p>
  <p>Ihr SpiceSquad-Team</p>
</body>
</html>